{% extends 'base.html' %}
{% load static %}
{% block title %}Blogs{% endblock title %}%}

{% block content %}

<div class="container ">
    <div class="d-flex align-items-center">
        <div class="col-12">
            <h2>Display of content</h2>
            <a href="{% url 'blog:ckeditor-form'%}" class="btn btn-primary">Post a Blog</a>
            {% for blg in blog %}

            <div class="col-12 py-5">
                <div class="card md-5 w-75" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{blg.thumbnail.url}}" alt="Image not Found" class="img-fluid rounded-start" style="max-height: fit-content;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{blg.title}} </h5><span class=""> </span> 
                                <p class="card-text">
                                    {{blg.content | safe}}
                                </p>
                                <p class="card-text text-muted">
                                    {{blg.date}}  
                                </p>
                                <div class="text-dark text-align-end">
                                    <a href="{% url 'blog:blog_details' blg.id %}" class="unstyled">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>        
            {% endfor %}
           
        </div>
    </div>
</div>
{% endblock content %}
