{% extends "base.html" %}
{% block content %}

<div class="container">
    
    <div class="col-12 py-5">
        <div class="md-5 w-75">
            <div class="row g-0">
                <h1 class="card-title">{{blog.title}} </h1>
                <div class="col-md-12">
                    <img src="{{blog.thumbnail.url}}" alt="Image not Found" width ="100%" class="img-fluid rounded-start" style="max-height: fit-content;">
                </div>
                <div class="row g-0">
                    {{blog.date}} 
                    
                    <p class="card-text">
                        {{blog.content | safe}}
                    </p>
                    <p class="card-text text-muted">
                     
                    </p>
                </div>
            </div>  
        </div>        
</div>

{% endblock content %}