{% extends 'base.html' %}
{% load static %}
{% block title %}Articles{% endblock title %}%}

{% block content %}

<div class="container ">
    <div class="align-items-start">
        <div class="col-8">
          <a href="{% url 'article:post_article'%}" class="btn btn-primary">Start Writing</a>
          {% for chunk in posts %}
            <div class= "col-6">
            {% for blg in chunk %}
           
                
                  <div class="blog-card alt">
                    <div class="meta">
                      <div class="photo" style="background-image: url({{blg.thumbnail.url}})"></div>
                      <ul class="details">
                        <li class="tags">
                         
                        </li>
                      </ul>
                    </div>
                    <div class="description">
                      <div class="">
                            <a href="#" class="d-md-flex ">
                                <img src="{{blg.user.profile_picture.url}}" styles="text-decoration:none"" alt="{{blg.user.user.profile.dateSignedUp}}" width="20" height="20">  <h6 class="px-4">{{blg.User}}</h6>
                            </a>
                      </div>
                        
                       
                      <a href="{% url 'article:article_details' blg.id %}" styles="text-decoration:none"> <h1> {{blg.title}} </h1></a>
                      <p class="d-details" style="font-size:15px"> {{blg.content | safe |truncatewords:12}}</p>
                      <p class="" style="font-size:10px">
                        {{blg.category}}
                      </p>
                      <p class="read-more">
                        {{blg.date}} 
                      </p>
                    </div>
                  </div>
            {% endfor %} 
            <div>
          {% endfor %}     
        </div>
        <div class="col-4"> 

        </div>
    </div>
</div>
{% endblock content %}