{% extends 'base.html' %}
{% load static %}
{% block title %}Articles{% endblock title %}

{% block content %}

<div class="container ">
  <div class="row" >
    <div class="col-md-2 my-2 align-item-center" > <a href="{% url 'article:post_article'%}" class="btn btn-primary">Start Writing</a> <!-- Search Functionality -->                 
     </div>
     <div class="col-md-10"> 
        <form class="card card-sm">
          <div class="card-body row no-gytters align-items-center">
              <div class="col">
                  
                  <input type="text" id="myInput"onkeyup="myFunction()" name='item_name' class="form-control form-control-borderless" placeholder="Search for Articles">
              </div> 
          </div>
        </form> 
    </div>
  </div>
  
  <div class="row">
     <div class= "col-md-8">
          <div class="row">
            {% for article in articles %}
            {% comment %} This will contain one post  {% endcomment %}
            <div class="col-lg-6 py-2 blog-container"> 
              <div class="row" >
                <div class="col-8">
                  <div class="row "> <div class="col-md-12">   <a href="{% url 'account:view_single_blog' article.user.id %}" style="text-decoration:none"> <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" width="20" height="20" class="img-fluid" style="border-radius:50%"> <span class="col-md-3" style="font-size:0.6em; "> {{article.user.username}}</span></a></div></div>
                  <div class="row ">
                    <div class="row"><div class= "col-md-12"> <h6> <b><a href="{% url 'article:article_details' article.id %}" style="text-decoration:none">{{article.title}}</a></h6> </b> </div></div>
                    <div class="row" height="50"><div class= "col-md-12 discr"> <p> {{article.content | safe |truncatewords:12}}</div> </div></div>
                      <div class="row"> <div class="col-md-12"> <span class="col-md-3" style="font-size:0.6em; "> <b> {{article.category}} </b></span><span class="col-md-3 px-3 text-align-end" style="font-size:0.6em;text-align: end; ">{{ article.date}}</span></div></div>
                    </div>
                  
                <div class="col-4  px-1"><img src="{{article.thumbnail.url}}" width="120" height="120" class="img-fluid"></div>
                 </div>
            </div>
            {% comment %} End one post  {% endcomment %}
            {% endfor %}
     
          </div> 
      </div>
      <div class ="col-md-4">
        <div class="col-md-12"> <a href="#" style="text-decoration: none;"> tags tags  tags tags  tags tags  tags tags  tags tags  tags tags  tags tags</a>  </div>
        <div class="col-md-12"> <a href="#"  style="text-decoration: none;"> Education  Sports News Entertainment etc</a>  </div>
      </div>
  </div>
          {% comment %} {% for blg in articles %}
               <div class="row">
               <div class= "col-md-6">

                    <div class="blog-card alt">
                          <div class="meta">
                            <div class="photo" style="background-image: url({{blg.thumbnail.url}})"></div>
                            <ul class="details">
                              <li class="tags"> 
                              </li>
                            </ul>
                          </div>
                          <div class="description">
                              <div class="">
                                    <a href="#" class="d-md-flex ">
                                        <img src="{{blg.user.profile_picture.url}}" styles="text-decoration:none" alt="{{blg.user.user.profile.dateSignedUp}}" width="20" height="20">  <h6 class="px-4">{{blg.User}}</h6>
                                    </a>
                              </div>
                              <a href="{% url 'article:article_details' blg.id %}" styles="text-decoration:none"> <h1> {{blg.title}} </h1></a>
                              <p class="d-details" style="font-size:15px"> {{blg.content | safe |truncatewords:12}}</p>
                              <p class="" style="font-size:10px">
                                {{blg.category}}
                              </p>
                              <p class="read-more">
                                {{blg.date}} 
                              </p>
                          </div>
                    </div>
                <div>
                </div> 
            {% endfor %}  {% endcomment %}
  
</div>
{% endblock content %}